<h1><%= @post["title"] %>, <%= @post["description"] %></h1>

<ul>
  <li><%= @post["posted_on"] %></li>
</ul>

<p><a href="/posts/<%= @place["id"] %>">Back to <%= @place["name"] %></a></p>

<p><a href="/posts">Back to All Posts</a></p>