<h1><%= @place["name"] %></h1>


<h3>Places</h3>

<ul>
  <% for post in @posts %>
    <<%= post["title"] %>, 
    <%= post["description"] %>
    <%= post["posted_on"] %>
  <% end %>
</ul>

<p>
  <a href="/places/new?place_id=<%= @place["id"] %>">New Place</a>
</p>

<p><a href="/places">Back to All Places</a></p>

