<h1><%= @place["name"] %></h1>

<h2><%= @place["description"] %>, <%= @place["posted_on"] %></h2>

<h3>Places</h3>

<ul>
  <% for post in @posts %>
    <li><%= post["title"] %>, <%= post["description"] %></li>
  <% end %>
</ul>

<p>
  <a href="/places/new?place_id=<%= @place["id"] %>">New Place</a>
</p>

<p><a href="/places">Back to All Places</a></p>

